@import '../base/base';

.collapse-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    .collapse {
        height: 52px;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $main-color;
        color: #fff;
        font-weight: bold;
        font-size: 1.3rem;
        border: none;
        border-radius: 5px;
        padding: 0px 12px 0px 12px;
    }  
    p {
        width: 85%;
        background-color: $background-color;
        margin: 0px;
        padding: 12px 8px 12px 8px;
        box-sizing: border-box;
        border-radius: 5px;
    }
}