header {
    .carrousel{
        height: 223px;
        width: 1240px;
        background-image: url('../../assets/slide-accueil.png');
        background-size: cover;
        background-position: center;
        border-radius: 16px;
       
    }
        .carrousel .filtre-carrousel { 
            height: 223px; 
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
        }
            .carrousel .text-overlay{
                font-size: 2.5rem;
                font-weight: 600;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            }
}

footer {
    background-color: black;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 4px;
    .logo-footer {
        margin-top: 20px;
    }
    .copyright {
        color: #fff;
    }
}