footer {
    background-color: black;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 4px;
    .logo-footer {
        margin-top: 20px;
    }
    .copyright {
        color: #fff;
    }
}