@import '../base/base';
/* -------- HEADER -------- */
.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 28px;
    nav {
        display: flex;
        flex-direction: row;
        gap: 50px;
        .nav-contain {
            text-decoration: none;
            font-weight: 600;
            border-top: 1px solid transparent;
            font-size: 1.5rem;
        }

        .nav-contain:hover, .active{
            border-bottom: 1px solid #000;
        }
    }
}

.wrapper, .wrapper-header {
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

/* --------- GALLERY CARD ----------- */
.gallery-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $background-color;
    row-gap: 40px;
    border-radius: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    .card {
        height: 340px;
        width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient($main-color, #CE4E4E);
        border-radius: 16px;
        p {
            margin-left: 12px;
            color: $font-color;
            font-weight: 600;
            width: 100px;
        }
    }
}

/* -------- FOOTER -------- */
footer {
    background-color: black;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 4px;

    .logo-footer {
        margin-top: 20px;
    }

    .copyright {
        color: $font-color;
    }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1240px) */
@media (max-width: 1240px) {
    .wrapper, .wrapper-header {
        width: calc(100% - 40px);
        max-width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        box-sizing: border-box;
    }

    .logo img{
        height: 46px;
    }
}

@media (max-width: 767.98px) {    
    .wrapper-header nav {
        box-sizing: border-box;
        gap: 20px;
        .nav-contain {
            text-transform: uppercase;
            font-size: 0.8rem;
        }
    }
    .gallery-card {
        background-color: #fff;
        .card {
            height: 255px;
            width: 100%;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .copyright {
            width: 50%;
        }
    }
}