/* Fading animation */
  
  @-webkit-keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }

.slide-show {
    height: 415px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    position: relative;
    box-sizing: border-box;
   
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 90px;
        color: $font-color;
        padding: 12px;
        position: absolute;
        outline: none;
        z-index: 2;
        transform: translateY(-50%);
        top: 50%;        
    }

    .prev {
        left: 5px;
    }

    .next {
        right: 5px;
    }

    ul {
        list-style-type:none;
        padding: 0px;
        height: 415px;
        .slide {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
    
            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }
        }
    }

    .slide.active {
        opacity: 1;
    }
}

@media (max-width: 767.98px) {
    .slide-show button {
        font-size: 50px;
    }
}