/* ------ COULEURS ------ */
$main-color: #FF6060;
$background-color: #F6F6F6;
$font-color: #fff;

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}